.post {
  margin-bottom: 3rem;
}

.post:hover .title {
  text-decoration: underline;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.snippet {
  color: #8b949e;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.meta {
  /* color and font size of GH MD footnotes */
  color: #8b949e;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}
