.post {
  padding-bottom: 3rem;
}

.post:hover .title {
  text-decoration: underline;
}

.title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.snippet {
  color: #8b949e;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.meta {
  /* color and font size of GH MD footnotes */
  color: #8b949e;
  font-size: 12px;
}
