.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  grid-area: nav;
}

.nav .themeBtn {
  background: none;
  background-color: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  margin: auto;
  grid-area: content;
}

.footer {
  grid-area: footer;
  min-height: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'nav'
    'content'
    'footer';
}
