.page {
  min-height: 100vh;
  padding: 0 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  grid-area: nav;
  font-family: monospace;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .logo {
  color: #58a6ff;
  background-color: rgba(56, 139, 253, 0.15);
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 500;
}

.content {
  margin: auto;
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'nav'
    'content'
    'footer';
}
